# Node.js
node_modules/

# Entorno de desarrollo
.env

# Archivos de configuración locales
eterDB.json

# Archivos generados durante el desarrollo


# Archivos de configuración de IDE


# Archivos de respaldo y temporales


# Archivos específicos de tu aplicación
src/public/decks/codeDecks0.mjs
src/public/decks/codeDecks1.mjs
src/public/decks/codeDecks2.mjs
src/public/decks/codeDecks3.mjs
src/public/decks/codeDecks4.mjs
src/public/decks/codeDecks5.mjs
src/public/decks/codeDecks6.mjs
src/public/decks/codeDecks7.mjs
src/assets/ilustraciones/
