# Node.js
node_modules/

# Entorno de desarrollo
.env

# Archivos de configuración locales
eterDB.json

# Archivos generados durante el desarrollo


# Archivos de configuración de IDE


# Archivos de respaldo y temporales


# Archivos específicos de tu aplicación
src/public/decks/
src/assets/ilustraciones/
src/assets/info.js
